<% @cart_details.each do |cart_detail| %>
 <tr>
  <td><%= cart_detail.id %></td>
  <td><%= cart_detail.name %></td>
  <td><%= cart_detail.price %></td>
  <%# <td><%= item.genre.name %></td>
  
 </tr>
  
<% end %>
 
